--
-- PostgreSQL database dump
--

\restrict ewkvupkXwKr5b5wtPpxy3L7VZalfLgqZyWD8YNdKpRHsGbcGZRMJVhjenLKazRo

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts; Type: TABLE; Schema: public; Owner: ptut_user
--

CREATE TABLE public.accounts (
    id uuid NOT NULL,
    sexe character varying NOT NULL,
    nom character varying NOT NULL,
    prenom character varying NOT NULL,
    etablissement character varying NOT NULL,
    numero character varying,
    rue character varying,
    boite_postale character varying,
    code_postal character varying,
    ville character varying,
    codex_ville character varying,
    pays character varying,
    email character varying NOT NULL,
    telephone character varying
);


ALTER TABLE public.accounts OWNER TO ptut_user;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: ptut_user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO ptut_user;

--
-- Name: books; Type: TABLE; Schema: public; Owner: ptut_user
--

CREATE TABLE public.books (
    id integer NOT NULL,
    title character varying NOT NULL,
    author character varying
);


ALTER TABLE public.books OWNER TO ptut_user;

--
-- Name: books_id_seq; Type: SEQUENCE; Schema: public; Owner: ptut_user
--

CREATE SEQUENCE public.books_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.books_id_seq OWNER TO ptut_user;

--
-- Name: books_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ptut_user
--

ALTER SEQUENCE public.books_id_seq OWNED BY public.books.id;


--
-- Name: permissions; Type: TABLE; Schema: public; Owner: ptut_user
--

CREATE TABLE public.permissions (
    id integer NOT NULL,
    name character varying NOT NULL,
    description character varying
);


ALTER TABLE public.permissions OWNER TO ptut_user;

--
-- Name: permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: ptut_user
--

CREATE SEQUENCE public.permissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.permissions_id_seq OWNER TO ptut_user;

--
-- Name: permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ptut_user
--

ALTER SEQUENCE public.permissions_id_seq OWNED BY public.permissions.id;


--
-- Name: persons; Type: TABLE; Schema: public; Owner: ptut_user
--

CREATE TABLE public.persons (
    id integer NOT NULL,
    sexe character varying NOT NULL,
    nom character varying NOT NULL,
    prenom character varying NOT NULL,
    etablissement character varying NOT NULL,
    numero character varying,
    rue character varying,
    boite_postale character varying,
    code_postal character varying,
    ville character varying,
    codex_ville character varying,
    pays character varying,
    email character varying NOT NULL,
    telephone character varying
);


ALTER TABLE public.persons OWNER TO ptut_user;

--
-- Name: persons_id_seq; Type: SEQUENCE; Schema: public; Owner: ptut_user
--

CREATE SEQUENCE public.persons_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.persons_id_seq OWNER TO ptut_user;

--
-- Name: persons_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ptut_user
--

ALTER SEQUENCE public.persons_id_seq OWNED BY public.persons.id;


--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: ptut_user
--

CREATE TABLE public.role_permissions (
    role_id integer,
    permission_id integer
);


ALTER TABLE public.role_permissions OWNER TO ptut_user;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: ptut_user
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying NOT NULL,
    description character varying
);


ALTER TABLE public.roles OWNER TO ptut_user;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: ptut_user
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO ptut_user;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ptut_user
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: ptut_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email_etablissement character varying NOT NULL,
    username character varying NOT NULL,
    hashed_password character varying NOT NULL,
    is_active boolean,
    role_id integer,
    person_id integer
);


ALTER TABLE public.users OWNER TO ptut_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: ptut_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO ptut_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ptut_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: books id; Type: DEFAULT; Schema: public; Owner: ptut_user
--

ALTER TABLE ONLY public.books ALTER COLUMN id SET DEFAULT nextval('public.books_id_seq'::regclass);


--
-- Name: permissions id; Type: DEFAULT; Schema: public; Owner: ptut_user
--

ALTER TABLE ONLY public.permissions ALTER COLUMN id SET DEFAULT nextval('public.permissions_id_seq'::regclass);


--
-- Name: persons id; Type: DEFAULT; Schema: public; Owner: ptut_user
--

ALTER TABLE ONLY public.persons ALTER COLUMN id SET DEFAULT nextval('public.persons_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: ptut_user
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: ptut_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: accounts; Type: TABLE DATA; Schema: public; Owner: ptut_user
--

COPY public.accounts (id, sexe, nom, prenom, etablissement, numero, rue, boite_postale, code_postal, ville, codex_ville, pays, email, telephone) FROM stdin;
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: ptut_user
--

COPY public.alembic_version (version_num) FROM stdin;
\.


--
-- Data for Name: books; Type: TABLE DATA; Schema: public; Owner: ptut_user
--

COPY public.books (id, title, author) FROM stdin;
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: ptut_user
--

COPY public.permissions (id, name, description) FROM stdin;
\.


--
-- Data for Name: persons; Type: TABLE DATA; Schema: public; Owner: ptut_user
--

COPY public.persons (id, sexe, nom, prenom, etablissement, numero, rue, boite_postale, code_postal, ville, codex_ville, pays, email, telephone) FROM stdin;
\.


--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: ptut_user
--

COPY public.role_permissions (role_id, permission_id) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: ptut_user
--

COPY public.roles (id, name, description) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: ptut_user
--

COPY public.users (id, email_etablissement, username, hashed_password, is_active, role_id, person_id) FROM stdin;
\.


--
-- Name: books_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ptut_user
--

SELECT pg_catalog.setval('public.books_id_seq', 1, false);


--
-- Name: permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ptut_user
--

SELECT pg_catalog.setval('public.permissions_id_seq', 1, false);


--
-- Name: persons_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ptut_user
--

SELECT pg_catalog.setval('public.persons_id_seq', 1, false);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ptut_user
--

SELECT pg_catalog.setval('public.roles_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ptut_user
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: accounts accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: ptut_user
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: ptut_user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: books books_pkey; Type: CONSTRAINT; Schema: public; Owner: ptut_user
--

ALTER TABLE ONLY public.books
    ADD CONSTRAINT books_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_name_key; Type: CONSTRAINT; Schema: public; Owner: ptut_user
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_name_key UNIQUE (name);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: ptut_user
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: persons persons_pkey; Type: CONSTRAINT; Schema: public; Owner: ptut_user
--

ALTER TABLE ONLY public.persons
    ADD CONSTRAINT persons_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: ptut_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: ptut_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: users users_email_etablissement_key; Type: CONSTRAINT; Schema: public; Owner: ptut_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_etablissement_key UNIQUE (email_etablissement);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: ptut_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: ptut_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: ix_accounts_email; Type: INDEX; Schema: public; Owner: ptut_user
--

CREATE UNIQUE INDEX ix_accounts_email ON public.accounts USING btree (email);


--
-- Name: ix_accounts_id; Type: INDEX; Schema: public; Owner: ptut_user
--

CREATE UNIQUE INDEX ix_accounts_id ON public.accounts USING btree (id);


--
-- Name: ix_books_id; Type: INDEX; Schema: public; Owner: ptut_user
--

CREATE INDEX ix_books_id ON public.books USING btree (id);


--
-- Name: ix_persons_email; Type: INDEX; Schema: public; Owner: ptut_user
--

CREATE UNIQUE INDEX ix_persons_email ON public.persons USING btree (email);


--
-- Name: ix_persons_id; Type: INDEX; Schema: public; Owner: ptut_user
--

CREATE INDEX ix_persons_id ON public.persons USING btree (id);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: ptut_user
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: role_permissions role_permissions_permission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ptut_user
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_permission_id_fkey FOREIGN KEY (permission_id) REFERENCES public.permissions(id);


--
-- Name: role_permissions role_permissions_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ptut_user
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: users users_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ptut_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_person_id_fkey FOREIGN KEY (person_id) REFERENCES public.persons(id);


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ptut_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- PostgreSQL database dump complete
--

\unrestrict ewkvupkXwKr5b5wtPpxy3L7VZalfLgqZyWD8YNdKpRHsGbcGZRMJVhjenLKazRo

