<app-page-breadcrumb pageTitle="Livres" />
<div class="grid grid-cols-1 gap-5 sm:grid-cols-2 xl:grid-cols-4 justify-items-center w-full">
  
  <div class="flex justify-center w-full">
    <app-card class="mx-auto max-w-sm" title="Mon livre" desc="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos adipisci perspiciatis dolorum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos adipisci perspiciatis dolorum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos adipisci perspiciatis dolorum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos adipisci perspiciatis dolorum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos adipisci perspiciatis dolorum!">
      <app-book-item [imageUrl]="'/images/grid-image/image-04.png'" />  
    </app-card>
  </div>
  <div class="flex justify-center w-full">
    <app-card class="mx-auto max-w-sm" title="Mon livre" >
      <app-book-item [imageUrl]="'/images/grid-image/image-4.png'" />  
    </app-card>
  </div>
  <div class="flex justify-center w-full">
    <app-card class="mx-auto max-w-sm" title="Mon livre" desc="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos adipisci perspiciatis dolorum!">
      <app-book-item [imageUrl]="'/images/grid-image/image-04.png'" />  
    </app-card>
  </div>
  <div class="flex justify-center w-full">
    <app-card class="mx-auto max-w-sm" title="Mon livre" desc="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos adipisci perspiciatis dolorum!">
      <app-book-item [imageUrl]="'/images/grid-image/image-04.png'" />  
    </app-card>
  </div>
  <div class="flex justify-center w-full">
    <app-card class="mx-auto max-w-sm" title="Mon livre" desc="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos adipisci perspiciatis dolorum!">
      <app-book-item [imageUrl]="'/images/grid-image/image-04.png'" />  
    </app-card>
  </div>
  <div class="flex justify-center w-full">
    <app-card class="mx-auto max-w-sm" title="Mon livre" desc="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos adipisci perspiciatis dolorum!">
      <app-book-item [imageUrl]="'/images/grid-image/image-04.png'" />  
    </app-card>
  </div>
</div>