<app-page-breadcrumb pageTitle="Livres" />
<div class="grid grid-cols-1 gap-5 sm:grid-cols-2 xl:grid-cols-3">
  
  <div>
    <app-card class="mx-auto max-w-sm" title="Mon livre" desc="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos adipisci perspiciatis dolorum!">
      <app-book-item />  
    </app-card>
  </div>
  <div>
    <app-card class="mx-auto max-w-sm" title="Mon livre" desc="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos adipisci perspiciatis dolorum!">
      <app-book-item />  
    </app-card>
  </div>
  <div>
    <app-card class="mx-auto max-w-sm" title="Mon livre" desc="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos adipisci perspiciatis dolorum!">
      <app-book-item />  
    </app-card>
  </div>
  <div>
    <app-card class="mx-auto max-w-sm" title="Mon livre" desc="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos adipisci perspiciatis dolorum!">
      <app-book-item />  
    </app-card>
  </div>
  <div>
    <app-card class="mx-auto max-w-sm" title="Mon livre" desc="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos adipisci perspiciatis dolorum!">
      <app-book-item />  
    </app-card>
  </div>
</div>