/* You can add global styles to this file, and also import other style files */

/* Importation de police d'ecriture */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
    /* Ajout des police d'ecriture */
  --font-*: initial;
  --font-montserrat: Montserrat, sans-serif;
  --font-palanquin: Palanquin, sans-serif;

/* Couleurs initiaux */
  --color-current: currentColor;
  --color-transparent: transparent;
  --color-white: #ffffff;
  --color-black: #101828;

  /* Gestion de la responsivite */
  --breakpoint-*: initial;
  --breakpoint-2xsm: 375px;
  --breakpoint-xsm: 425px;
  --breakpoint-3xl: 2000px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

}


@layer base {
  /* Couleur de bordure par defaut */
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  /* Les boutons cliquable ont un pointeur en forme de main */
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  body {
    @apply relative font-normal font-montserrat z-1 bg-gray-50;
  }
}
